apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "visionary-serving.fullname" . }}-config
  labels:
    {{- include "visionary-serving.labels" . | nindent 4 }}
data:
  # Uvicorn configuration
  UVICORN_WORKERS: {{ .Values.app.workers | quote }}
  UVICORN_HOST: {{ .Values.app.host | quote }}
  UVICORN_PORT: {{ .Values.app.port | quote }}
  LOG_LEVEL: {{ .Values.app.logLevel | quote }}
  
  # MLflow configuration
  MLFLOW_TRACKING_URI: {{ .Values.app.mlflowTrackingUri | quote }}
  MODEL_NAME: {{ .Values.app.modelName | quote }}
  MODEL_STAGE: {{ .Values.app.modelStage | quote }}
  
  # Additional environment variables
  {{- range $key, $value := .Values.env }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
